SECRET_KEY=change-moi
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgres://duumvirat_user:Am@622401692@localhost:5432/duumvirat_db
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173, 
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=contact@duumviratbusiness.com
EMAIL_NOTIFICATION_DESTINATAIRES=contact@duumviratbusiness.com
USE_CLOUDINARY=False
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=




# CREATE DATABASE duumvirat_db;
# CREATE USER duumvirat_user WITH PASSWORD 'Am@622401692';
# ALTER ROLE duumvirat_user SET client_encoding TO 'utf8';
# ALTER ROLE duumvirat_user SET default_transaction_isolation TO 'read committed';
# ALTER ROLE duumvirat_user SET timezone TO 'UTC';
# GRANT ALL PRIVILEGES ON DATABASE duumvirat_db TO duumvirat_user;
# \c duumvirat_db
# GRANT ALL ON SCHEMA public TO duumvirat_user;
# \q